body{
    background-color: transparent !important;
}

#mapId {
    margin: auto
}

.mapContainer {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#actions {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    top: 0;
    right: 0;
    left: 0;
}

.mainButton {
    margin: 1rem !important;
}